.section-menu{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(250, 0, 0, 0.36), 
        rgba(250, 0, 0, 0.36)), 
        url("./MenuBackground.jpg");
        background-size: cover;
}