.header__navigation-box{
    position: absolute;
    top: 6.5rem;
    right: 2.5rem;
    float: right;
}

.navigation{
    display: block;
    font-size: 2.2rem;
    text-shadow: 0px 3px 6px black; 
}

.navigation li {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation a {
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    transition: all .2s;
    cursor: pointer;
}

@media (-moz-touch-enabled: 0), (pointer:fine) {
    .navigation a:hover{
        transform: translateY(-6px);
        text-shadow: 0px 9px 6px black; 
    }
}

.navigation a:active{
    transform: translateY(-1px);
    text-shadow: 0px 5px 4px black; 
}

/* Tablet portrait media */
@media only screen and (max-width: 56.25em){    /* width < 900? */
    .navigation{
        visibility: hidden;
    }
}