.header__logo-box{
    position: absolute;
    top: 3rem;
    left: 4rem;
}

.header__logo{
    height: 16rem;
}

.footer__logo-box{
    text-align: center;
    margin-bottom: 8rem;
}

.footer__logo{
    width: 15rem;
    height: auto;
}