.header__text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    line-height: 1;

    animation: moveInBottom 1s ease-out;
}

.heading-primary-main{
    display: block;
    font-size: 10rem;
    font-weight: 400;
}

.heading-secondary-main{
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 5px;
}

/* Phone media */
@media (max-width: 37.5em){     /* width < 600? */
    .heading-primary-main{
        font-size: 7rem;
    }
    .heading-secondary-main{
        font-size: 3rem;
        letter-spacing: 1px;
    }
}