.header__text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.primary-heading{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    display: block;
    font-size: 10rem;
    font-weight: 400;
    animation: moveInBottom 1s ease-out;
}

/* Phone media */
@media (max-width: 37.5em){     /* width < 600? */
    .primary-heading{
        font-size: 6rem;
    }
}