.section-about{
    background-color: #f7f7f7;
    padding: 25rem 0 30rem 0;
    margin-top: -20vh;
}

/* Tablet portrait media */
@media (max-width: 56.25em){    /* width < 900? */
    .section-about{
        padding: 25rem 0 25rem 0;
    }
}

/* Portrait Screens */
@media only screen 
  and (orientation: portrait){
    .section-about{
        padding: 35rem 0 25rem 0;
    }
}

@media (min-width: 112.5em){
    .section-about{
        padding: 40rem 0 50rem 0;
    }
}