.header__navigation-box{
    position: absolute;
    top: 9rem;
    right: 2.5rem;
    float: right;
}

.navigation{
    display: block;
    font-size: 2.2rem;
    font-weight: 300;
    text-shadow: 0px 3px 6px black; 
}

.navigation li {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation a {
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem;
    text-decoration: none;
}

.navigation a:hover{
    transform: translateY(-6px);
    text-shadow: 0px 9px 6px black; 
    transition: all .2s;
}

.navigation a:active{
    transform: translateY(-1px);
    text-shadow: 0px 5px 4px black; 
}

/* Tablet portrait media */
@media (max-width: 56.25em){    /* width < 900? */
    .header__navigation-box{
        position: absolute;
        top: 7rem;
        right: 2rem;
        float: right;
    }

    .navigation{
        background-color: #fff;
        height: 7rem;
        width: 7rem;
        top: 0rem;
        right: 2rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1) ;
        text-align: center;
        cursor: pointer;
    }
    .navigation li {
        visibility: hidden;
    }
}