.header{/*
    height: 85vh;*/
    height: 90vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(250, 0, 0, 0.36), 
        rgba(250, 0, 0, 0.36)), 
        url("./headerbackground@0,25x.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    /*These 2 keep the image fixed in place
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}

/* Resolution */
/* If screen resolution is good(retina display) and screen size bigger than 600px
    or screen resolution is low, but screen size is very big */
@media(min-resolution: 192dpi) and (min-width: 37.5em),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      (min-width: 112.5em){
        .header{
            background-image: linear-gradient(
                to right bottom,
                rgba(250, 0, 0, 0.36), 
                rgba(250, 0, 0, 0.36)), 
                url("./headerbackground@0,33x.jpg");
        }
}


@supports( clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%) ) or (-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)) {
    .header{/*
        height: 95vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);*/
    }
}

/* Phone media */ 
@media (max-width: 37.5em){     /* width < 600? */ 
    .header{/*
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);*/
    }
}

/* IPad Pro Portrait */
@media only screen 
  and (orientation: portrait){
    .header{/*
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);*/
    }
}
