.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(250, 0, 0, 0.36), 
        rgba(250, 0, 0, 0.36)), 
        url("./headerbackground.jpg");
    background-size: cover;
    background-position: top;
    position: relative;

    /*These 2 keep the image fixed in place*/
    background-repeat: no-repeat;
    background-attachment: fixed;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

/* Phone media */ 
@media (max-width: 37.5em){     /* width < 600? */ 
    .header{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
}