.modal{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8) ;
    z-index: 1005;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.modal:target{
    opacity: 1;
    visibility: visible;
}

.modal__content{
    width: 75%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
    display: table;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
}

.modal__left{
    width: 33.33333%;
    display: table-cell;
}

.modal__right{
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
}

.modal__img{
    display: block;
    width: 100%;
}

.modal__text{
    font-size: 1.4rem;
      
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #777;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #777;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.modal__close:link,
.modal__close:visited{
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
}

.modal__close:hover{
    color: #BE2600;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .modal{
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, .3) ;
    }
}