.ReactModalPortal > div{
    opacity: 0;
}


.ReactModalPortal .ReactModal__Overlay{
    transition: all .3s ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal__overlay{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8) ;
    z-index: 1005;
}

.modal{
    width: 75%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);

    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%) ;
    max-height: calc(100vh - 110px);
    overflow-y: auto;
}

.modal__up{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
}

.modal__img{
    display: block;
    width: 100%;
}

.modal__text{
    font-size: 1.5rem;
      
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #777;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #777;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.modal__close{
    color: #777;
    float: right;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    transition: all .2s;
    line-height: 1;
    border: none;
}

.modal__close:hover{
    color: #BE2600;
    cursor: pointer;
}

/* Tablet portrait media */
@media (max-width: 56.25em){    /* width < 900? */
    .modal{
        width: 85%;
    }
    .modal__text{
        -moz-column-count: 1;
        column-count: 1;      
    }
}